node_modules

/.cache
/build

# Environment variables (Cloudflare)
# https://remix.run/docs/en/main/guides/envvars

# currentry just symlinked to root .dev.vars
!.dev.vars

.wrangler

# Environment variables symlink (Vite)
!.env.development.local
!.env.production.local
